src/main/mule/test-ci-cd-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="70282256-43ac-4391-9eb0-24bb16e75e54" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-ci-cd-pipelineFlow" doc:id="e2e36c93-32b8-49b4-8b1d-36285ba83bbf" >
		<http:listener doc:name="Listener" doc:id="8f1d8606-b21a-4853-b148-03dd3219b799" config-ref="HTTP_Listener_config" path="/*"/>
		<set-payload value='#["Tada.........it worked"]' doc:name="response" doc:id="12a24487-0408-4a3e-96ae-53ff2492f2be" />
	</flow>
</mule>
